#wrapper {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: 20% 20%;
  grid-template-areas:
    "a a"
    "b c";
}

#a {
  grid-area: a;
}

#b {
  grid-area: b;
}

#c {
  grid-area: c;
}

img {
  width: 100%;
}

#wrapper div {
  overflow: hidden;
}
